@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background-color: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left {
  width: 25vw;
  padding: 10px;
  height: 100vh;
}

.right {
  width: 75vw;
}
.home {
  display: flex;
  flex-direction: column;
}
.home .logo {
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
  padding: 0px 18px;
  margin-bottom: 8px;
}
.home ul {
  display: flex;
  flex-direction: column;
}

.home ul img {
  width: 25px;
}

.home ul li {
  cursor: pointer;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  list-style: none;
  font-weight: bold;
}
.home ul li:hover {
  background-color: rgb(64, 64, 64);
}

.library {
  margin-top: 10px;
  position: relative;
  padding: 18px;
  min-height: 78vh;
}

.heading {
  display: flex;
  gap: 20px;
  width: 100%;
  list-style: none;
  font-weight: bold;
  align-items: center;
  font-size: 12px;
}

.heading img {
  width: 24px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}
.footer div {
  font-size: 12px;
  color: gray;
  font-weight: 700;
}

.right {
  margin: 10px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0e0e0e;
  padding: 18px;
}

.spotifyPlaylist h1 {
  margin: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.spotifyPlaylist .card {
  width: 250px;
  padding: 16px;
  background-color: #252525;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.spotifyPlaylist .card:hover .play {
  top: 212px;
  opacity: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  position: absolute;
  top: 280px;
  right: 20px;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.circle {
  background-color: rgb(39, 218, 39);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e0e0e;
}

.buttons > * {
  margin: 0 12px;
}

.signup {
  background: #0e0e0e;
  color: #7d7d7d;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.signup:hover {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.login {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  color: #0e0e0e;
  padding: 10px;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
}

.login:hover {
  font-size: 17px;
  font-weight: bold;
}

.playbar {
  position: absolute;
  bottom: 0;
  background-color: rgb(117, 234, 117);
  width: 100%;
  padding: 12px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.songList {
  margin-top: 28px;
  height: 60vh;
  overflow: auto;
}
.songList ul {
  padding: 0px 2px;
}

.songList ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px 14px;
  border: 1px solid;
  margin: 16px 0px;
  border-radius: 6px;
}

.music {
  display: flex;
  gap: 22px;
}

.info {
  font-size: 13px;
}

.playnow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.playnow span {
  font-size: 14px;
}
.playnow img {
  width: 20px;
}
