*{
    margin: 0;
    padding: 0;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
}

.home {
    padding: 12px;

}

.home ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 18px;
  list-style: none;
}
